.watchlistNav{
    margin: 12px 0 0 0;
}

.nav{
    margin: 10px 0 0 0;
    width: 100%;
    position: sticky;
    bottom: 0;
    z-index: 9999;
}

.logout{
    display: inline;
}

.logoutButton{
    display: inline;
}

.watchlistIcon:hover{
   color:red;
}